td,th{
    padding: 4px 8px;
    text-align: left;
  }
  th:first-of-type,
  td:first-of-type{
    background: #fff;
  }
  th:nth-of-type(1),
  td:nth-of-type(1){
    border:solid 1px #323232;
    font-family: serif;
    background: #fff;
  }
  th:nth-of-type(2),
  td:nth-of-type(2){
    border:solid 1px #323232;
    font-family: serif;
    /*background: #4383E6;*/
    background: rgba(67,131,230,0.6);
  }
  
  th:nth-of-type(3),
  td:nth-of-type(3){
    border:solid 1px #323232;
    font-family: serif;
    /*background: #E6434D;*/
    background: rgba(230,67,77,0.6);
  }
  
  th:nth-of-type(4),
  td:nth-of-type(4){
    border:solid 1px #323232;
    font-family: serif;
    /*background: #E6434D;*/
    background: #fff;
  }
  
  #finished-words {
    padding-left: 50px;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0 auto;
  }
  
  .square_btn {
    display: inline-block;
    font-family: serif;
    font-size: 11px;
    margin: 20px 0px;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #323232;
    border: solid 2px #323232;
    border-radius: 3px;
    transition: .4s;
  }
  
  .square_btn:hover {
    background: #323232;
    color: white;
  }
  
  #new-words {
    padding-right: 10px;
  }